* {
    margin: 0;
    padding: 0;
    }
    body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    }
    /* header */
    .header {
    padding: 20px 250px;
    }
    .navigation {
    color: #ababab;
    display: flex;
    justify-content: space-between;
    align-items: item;
    padding: 0;
    margin: 0;
    }
    .nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .logo {
    width: 40px;
    height: 40px;
    }
    .logo-title {
    font-size: 20pt;
    }
    .logo-span {
    
    color: #00ccb1;
    }
    .nav-ul-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    }
    .nav-ul-div ul {
    padding: 0;
    margin: 0;
    }
    .nav-ul-div li {
    display: inline;
    margin-right: 10px;
    }
    .nav-ul-div a {
    text-decoration: none;
    color: #ababab;
    font-size: 14pt;
    }
    .nav-ul-div a:hover {
    color: #00ccb1;
    }
    .nav-ul-div a:active {
    color: #00ccb1;
    }
    .para-div {
    display: flex;
    gap: 20px;
    }
    .section-para {
    
    flex: 50%;
    }
    /* section 1 style */
    .section1 {
    padding: 0px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    }
    .section1-header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    }
    .section1-header {
    font-weight: 300;
    font-size: 1.625em;
    color: #00ccb1;
    font-family: Work Sans, Arial, sans-serif;
    letter-spacing: 3px;
    }
    .para-div {
    font-weight: 300;
    line-height: 1.2;
    font-size: 16px;
    }
    /* section2 style */
    .section2 {
    padding: 0px 250px;
    display: flex;
    
    gap: 30px;
    margin-top: 100px;
    }
    .section2-grid {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
    }
    .section2-img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 20px;
    }
    .patients {
    background-color: #00ccb1;
    }
    .doctors {
    background-color: #3d83df;
    }
    .clinics {
    background-color: #1b2734;
    }
    .section2-sub-header {
    font-size: 2.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Work Sans, Arial, sans-serif;
    }
    
    .section2-grid p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    font-family: Work Sans, Arial, sans-serif;
    }
    .patients select {
    background-color: #00ccb1;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    }
    .doctors select {
    background-color: #3d83df;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    }
    .clinics select {
    background-color: #1b2734;
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    }
    select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    color: inherit;
    font: inherit;
    margin: 0;
    
    }
    .select-div {
    color: #fff;
    }
    /* section 3 */
    .section3 {
    padding: 0px 250px;
    display: flex;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    color: #00ccb1;
    justify-content: center;
    align-items: center;
    padding: 30px;
    }
    .section3-div {
    display: flex;
    gap: 9rem;
    justify-content: space-between;
    }
    .section3-title {
    margin: 0.25em 0 0.35em;
    padding-right: 3em;
    }
    .clientsText {
    width: 200px;
    }
    /* font-family: Work Sans, Arial, sans-serif; */
    .clients-logo {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: left;
    width: 500px;
    
    }
    .clients-logo-img {
    width: 5.5rem;
    object-fit: contain;
    vertical-align: middle;
    }
    /* section4 */
    .section4 {
    background-color: #d0faf4;
    margin-top: 20px;
    padding: 20px 250px 0px 250px;
    display: flex;
    gap: 100px;
    }
    .section4-div1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    }
    .section4-head {
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.3px;
    color: #00b39b;
    font-size: 1.8461538462em;
    font-family: Work Sans, Arial, sans-serif;
    }
    .section4head {
    padding-top: 60px;
    }
    .section4-para {
    font-size: 15px;
    color: #747474;
    margin-top: -30px;
    
    }
    .section4-grid {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    }
    .section4-sub-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .sub-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
    width: 220px;
    padding: 30px 15px;
    }
    .sub-grid img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 20px;
    }
    .sub-section-para {
    font-size: 0.8125em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    margin: 0 0 10px;
    
    }
    .section4-sub-grid1 {
    padding-top: 60px;
    }
    .section4-sub-grid2 {
    padding-top: 30px;
    }
    /* Section 5 */
    .section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    }
    .section5-head {
    font-size: 2.1428571429em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    }
    .section5-para {
    margin: 1.6em 0;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    }
    /* section 6 */
    .section6 {
    padding: 100px 250px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .section6-img-div {
    margin: 0 auto;
    display: grid;
    gap: 10px;
    }
    @media (min-width: 600px) {
    .section6-img-div {
    grid-template-columns: repeat(2, 1fr);
    }
    }
    @media (min-width: 900px) {
    .section6-img-div {
    grid-template-columns: repeat(3, 1fr);
    }
    }
    .sub-section6-img-div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,
    0.19);
    }
    .img-button-div {
    display: flex;
    padding: 20px 25px 10px 25px;
    justify-content: space-between;
    align-items: center;
    }
    .section6-button {
    background-color: #3d83df;
    padding: 7px;
    color: #fff;
    border: none;
    line-height: 1em;
    font-weight: 700;
    
    letter-spacing: 0.04em;
    text-align: center;
    outline: 0;
    border-radius: 4px;
    font-family: Roboto, Arial, sans-serif;
    }
    .section6-country {
    font-size: medium;
    color: #747474;
    font-family: Roboto, Arial, sans-serif;
    }
    .img-button-div-radius {
    border-radius: 4px 4px 0 0;
    }
    /* section 7 */
    .section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .section7-header {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
    }
    .section7-button {
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
    }
    footer {
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
    }
    footer a {
    color: #337ab7;
    text-decoration: none;
    }
    .copyright-div {
    margin-top: 30px;
    margin-bottom: 30px;
    }